@import "../../App.scss";

.form_wrap {
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 400px;
    width: 100%;
}

.login_wrap {
    font-family: "Manrope";

    padding-top: 5rem;
    padding-bottom: 8rem;
    max-width: 1000px;
}

.input {
    max-width: 346px;
    width: 100%;
    height: 42px;
    border: 2px solid black;
}

.input::placeholder {
    transform: translate(0px, 2px);
    font-size: 16px;
}

.btnSubmit {
    font-size: 16px;
    width: 200px;
    height: 45px;
    border-radius: 251px;
    cursor: pointer;
    color: white;
    background-color: #312e2e;
}
