.nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Manrope';
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.good_footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contacts{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: white;
}

.politics{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.tarifs{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.tarifs_flex{
    row-gap: 30px;
}


@media(max-width:900px){
    .nav{
        flex-direction: column;
        row-gap: 30px;
    }
    .tarifs_flex{
        flex-direction: column;
    }
}