@import "../../App.scss";

.section {
    width: 100%;
    display: flex;
    position: relative;
    &__wrap {
        flex-grow: 1;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.section.withImage {
    img {
        @include objectFit;
        z-index: 0;
    }
}

.section.positionFX {
    position: fixed;
}

.section__wrap.centerItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__wrap {
}

.section.fullscreen {
    min-height: 100vh;
}

@media (max-width: 900px) {
    .section__wrap.borderBottom {
        border-bottom: 1px solid white;
    }
}
