.swiper {
  max-width: 290px;
  height: 700px;
  border-radius: 5px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 1);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
}

.swiper-button-next {
  width: 100px;
  background-image: url(../../assets/imgages/arrowRight.svg);
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  background-position: center;
  margin-top: 270px;
  transform: translateX(10px);
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  width: 100px;
  background-image: url(../../assets/imgages/arrowLeft.svg);
  background-repeat: no-repeat;
  margin-top: 280px;
  transform: translateX(-10px);

}

.swiper-button-prev::after {
  display: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slider 2 */

.mySwiper2 {
  height: 500px;
  max-width: 650px;
  width: 100%;
}

.mySwiper2 .swiper-button-prev {
  margin-top: -30px;
  background-image: url('../../assets/imgages/slider2/Group\ 104.svg');
  height: 100px;
  transform: translateX(-10px);

  width: 100px;
}


.mySwiper2 .swiper-button-next {
  margin-top: -40px;
  background-image: url('../../assets/imgages/slider2/Group\ 105.svg');
  height: 80px;
  width: 100px;
  transform: translateX(25px);

}

.mySwiper2 .swiper-button-next::after {
  display: none;
}

.mySwiper2 .swiper-button-prev::after {
  display: none;
}

.mySwiper2 .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.mySwiper2 .swiper-slide img{
  object-fit: contain;
}

.mySwiper2 .swiper-pagination-bullet-active {
  color: #fff;
  background: white;
  border: 2px solid black;
}

.mySwiper2 .swiper-pagination-bullet {
  color: #fff;
  /* background-color: black; */
  border: 2px solid black;
}


@media(max-width:567px) {
  .mySwiper2 {
    height: 520px;
  }

  .mySwiper2 .swiper-button-prev {
    margin-top: 165px;
    margin-left: 28px;
  }


  .mySwiper2 .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }

  .mySwiper2 .swiper-button-next {
    margin-top: 160px;
    margin-right: 30px;

  }
}



/* Slider 3 */



.mySwiper3 {
  height: 600px;
  max-width: 100%;
  margin-bottom: 50px;
}


.mySwiper3 .swiper-button-prev {
  margin-top: -30px;
  background-image: url('../../assets/imgages/slider2/Group\ 104.svg');
  height: 100px;
  transform: translateX(-10px);

  width: 100px;
}


.mySwiper3 .swiper-button-next {
  margin-top: -40px;
  background-image: url('../../assets/imgages/slider2/Group\ 105.svg');
  height: 80px;
  width: 100px;
  transform: translateX(25px);

}


.mySwiper3 .swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media(max-width:567px){
  .mySwiper3 .swiper-button-prev {
   display: none;
  }


  .mySwiper3 .swiper-button-next {
   display: none;
  }
}